@media (max-width: 992px) {
  .nav__cart {
    margin-right: 0;
  }

  /* @@@@@@@@@@@@@@@@ home @@@@@@@@@@@@@@@@@ */
  .home .container {
    width: initial;
    margin-left: 1.5rem;
  }

  .home__container {
    padding-bottom: 5rem;
  }

  .home__img {
    height: 600px;
    margin-left: 6rem;
  }

  .home__img img {
    width: 220px;
  }

  .home__data {
    padding-left: 4rem;
  }

  /* @@@@@@@@@@@@@@@@ story @@@@@@@@@@@@@@@@@ */
  .story__container {
    grid-template-columns: 1fr 1fr;
  }

  .story__img {
    width: 270px;
    height: 270px;
  }

  .story__img img {
    width: 270px;
    height: 270px;
    top: -3rem;
    left: 3rem;
  }

  /* @@@@@@@@@@@@@@@@ testimonial @@@@@@@@@@@@@@@@@ */

  .testimonial__container {
    gap: 3rem;
  }

  .testimonial__img {
    width: 250px;
    height: 250px;
  }

  .testimonial__img img {
    width: 250px;
    height: 250px;
    top: 3rem;
    right: 3rem;
  }

  /* @@@@@@@@@@@@@@@@ newsletter @@@@@@@@@@@@@@@@@ */
  .newsletter__container {
    padding: 3rem;
  }
}

@media (max-width: 767px) {
  /* @@@@@@@@@@@@@@@@@ header @@@@@@@@@@@@@@@@@ */
  .nav__toggle,
  .nav__close {
    display: flex;
    cursor: pointer;
  }

  .nav__toggle {
    color: var(--body-color);
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-left: unset;
  }

  .nav__link {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  .nav__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
  }

  /* change cartshop color and navtoggle color*/
  .white-color {
    color: var(--white-color);
  }

  /* Show menu */
  .show-menu {
    right: 0;
  }

  /* @@@@@@@@@@@@@@@@@ cart @@@@@@@@@@@@@@@@@ */
  .cart {
    width: 100%;
  }

  /* @@@@@@@@@@@@@@@@ home @@@@@@@@@@@@@@@@@ */
  .home__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .home__img {
    order: -1;
    height: 500px;
    width: 350px;
    margin-left: 0;
    justify-self: end;
  }

  .home__data {
    padding-left: 0;
  }

  .home__social {
    top: -15rem;
  }

  /* @@@@@@@@@@@@@@@@ story @@@@@@@@@@@@@@@@@ */

  .story__container {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    padding-top: 0;
  }

  .story__img {
    order: 2;
    width: 250px;
    height: 250px;
  }

  .story__img img {
    width: 250px;
    height: 250px;
    top: -3rem;
    left: 3rem;
  }

  .story .section-title {
    text-align: center;
  }

  .story .section-title::before {
    inset: -1rem 0 auto 0;
    margin: 0 auto;
  }

  /* @@@@@@@@@@@@@@@@ products @@@@@@@@@@@@@@@@@ */

  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .products__card {
    padding: 1.25rem 0;
  }

  .products__img {
    height: 130px;
  }

  /* @@@@@@@@@@@@@@@@ testimonial @@@@@@@@@@@@@@@@@ */

  .testimonial__container {
    grid-template-columns: 1fr;
  }

  /* @@@@@@@@@@@@@@@@ newsletter @@@@@@@@@@@@@@@@@ */
  .newsletter__container {
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem;
    gap: 2rem;
    text-align: center;
  }

  .newsletter__form {
    flex-direction: column;
    gap: 0.7rem;
  }

  .newsletter__button {
    padding: 1.2rem 1rem;
  }

  /* @@@@@@@@@@@@@@@@ footer @@@@@@@@@@@@@@@@@ */
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media (max-width: 576px) {
  /* @@@@@@@@@@@@@@@@ home @@@@@@@@@@@@@@@@@ */

  .home__img {
    height: 400px;
    width: 230px;
    margin-left: 0;
    justify-self: end;
  }

  .home__img img {
    width: 180px;
  }

  .home__data {
    padding-right: 1.5rem;
  }

  .home__price {
    margin-bottom: var(--mb-2);
  }

  .home__social {
    top: -12rem;
  }

  /* @@@@@@@@@@@@@@@@ products @@@@@@@@@@@@@@@@@ */

  .products__container {
    gap: 2rem 1.5rem;
  }

  /* @@@@@@@@@@@@@@@@ footer @@@@@@@@@@@@@@@@@ */

  .footer__container {
    grid-template-columns: max-content;
  }
}

@media (max-width: 374px) {
  /* @@@@@@@@@@@@@@@@@ cart @@@@@@@@@@@@@@@@@ */
  .cart__container {
    margin-bottom: 3rem;
  }

  .cart__img {
    padding: 0.8rem 1.2rem;
  }

  .cart__price {
    margin-bottom: var(--mb-1);
  }

  /* @@@@@@@@@@@@@@@@ home @@@@@@@@@@@@@@@@@ */
  .home__img {
    height: 320px;
    width: 180px;
  }

  .home__img img {
    width: 160px;
  }

  .home__social {
    top: -10rem;
  }

  /* @@@@@@@@@@@@@@@@ story @@@@@@@@@@@@@@@@@ */
  .story__img {
    width: 200px;
    height: 200px;
  }

  .story__img img {
    width: 200px;
    height: 200px;
    top: -2rem;
    left: 2rem;
  }

  /* @@@@@@@@@@@@@@@@ products @@@@@@@@@@@@@@@@@ */

  .products__container {
    gap: 1.5rem 1rem;
  }

  .products__img {
    height: 100px;
  }

  /* @@@@@@@@@@@@@@@@ testimonial @@@@@@@@@@@@@@@@@ */

  .testimonial__img {
    width: 200px;
    height: 200px;
  }

  .testimonial__img img {
    width: 200px;
    height: 200px;
    top: 2rem;
    right: 2rem;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@ 2K & 4K DISPLAYS @@@@@@@@@@@@@@@@@@@
 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
@media (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media (min-width: 3840px) {
  body {
    zoom: 2;
  }
}
